<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    .chap {
        border-right: 2px solid #a19f9f;
    }
</style>

<body>
    <div class="asosiy flex relative">
        <div class="chap w-[75px] h-[100vh] p-[25px]">
            <div class="logo absolute top-[30px] text-[23px] ">
                <svg aria-hidden="true" aria-label="" class="aTSQd5 hL9n03 iewObu" height="24" role="img"
                    viewBox="0 0 24 24" width="24">
                    <path
                        d="M7.54 23.15q-.2-2.05.26-3.93L9 14.04a7 7 0 0 1-.35-2.07c0-1.68.81-2.88 2.09-2.88.88 0 1.53.62 1.53 1.8q0 .57-.23 1.28l-.52 1.72q-.15.5-.15.92c0 1.2.91 1.87 2.08 1.87 2.09 0 3.57-2.16 3.57-4.96 0-3.12-2.04-5.12-5.05-5.12-3.36 0-5.49 2.19-5.49 5.24 0 1.22.38 2.36 1.11 3.14-.24.41-.5.48-.88.48-1.2 0-2.34-1.69-2.34-4 0-4 3.2-7.17 7.68-7.17 4.7 0 7.66 3.29 7.66 7.33s-2.88 7.15-5.98 7.15a3.8 3.8 0 0 1-3.06-1.48l-.62 2.5a11 11 0 0 1-1.62 3.67A11.98 11.98 0 0 0 24 12a11.99 11.99 0 1 0-24 0 12 12 0 0 0 7.54 11.15">
                    </path>
                </svg>
            </div>
            <div class="home absolute top-[90px] text-[25px] "><i class="bi bi-house-fill"></i></div>
            <div class="compas absolute top-[160px] text-[25px] "><i class="bi bi-compass"></i></div>
            <div class="colage absolute top-[230px] text-[25px] "><i class="bi bi-columns"></i></div>
            <div class="add absolute top-[295px] text-[25px] "><i class="bi bi-file-plus"></i></div>
            <div class="bell absolute top-[360px] text-[25px] "><i class="bi bi-bell"></i></div>
            <div class="message absolute top-[430px] text-[25px] "><i class="bi bi-chat-dots"></i></div>
            <div class="settings absolute top-[680px] text-[25px] "><i class="bi bi-gear"></i></div>

        </div>

        <div class="nav">
            <input class=" absolute left-[90px] top-[10px] rounded-[12px] pl-[40px] w-[1350px] bg-slate-200 h-[48px]"
                type="search" placeholder="Поиск"> <i
                class="bi bi-search text-gray-400 absolute left-[105px] top-[22px] rounded-[15px]"></i>
            <div class="profil absolute right-[50px] top-[15px] w-[35px] h-[35px] rounded-[50px]"><img
                    class="rounded-full"
                    src="https://i.pinimg.com/75x75_RS/81/f4/f6/81f4f6cea305b227ed56f90c2538ccb8.jpg" alt=""></div>
        </div>
        <div class="flex left-[70px] mt-[10px] top-[70px] absolute flex-wrap w-[1450px]">
            {% for main_banner in main_banner %}
            <a href="">
                <div class=" mt-[10px] ml-[15px]">
                    <div>
                        <img class="h-[345px] object-cover rounded-[17px] w-[223px]"
                            src="{{ main_banner.main_banner.url }}" alt="">
                    </div>
                </div>
            </a>
            {% endfor %}

            {% for main in main %}
            <a href="">
                <div class=" mt-[10px] ml-[15px]">
                    <div>
                        <img class="h-[225px] object-cover rounded-[17px] w-[355px]"
                            src="{{ main.main.url }}" alt="">
                    </div>
                </div>
            </a>
            {% endfor %}

            {% for banner in banner %}
            <a href="">
                <div class=" mt-[10px] ml-[15px]">
                    <div>
                        <img class="h-[225px] object-cover rounded-[17px] w-[225px]"
                            src="{{ banner.banner.url }}" alt="">
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</body>

</html>